<div class="form-container">
  <mat-form-field appearance="standard">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name">
  </mat-form-field>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let position of positions" cdkDrag>
      {{ position.name }}
    </div>
  </div>
  <button>Save</button>
</div>
